<section style="text-align: center; background-image: url('/img/port2.avif'); background-size: cover; padding: 80px 20px 320px; color: white;text-shadow: 2px 4px 3px rgba(0,0,0,0.3);">
    <h1>About Porta Spot</h1>
    <h2>Honest & Efficient Work</h2>
    <p style="max-width: 800px; margin: auto; margin-bottom: 20px;">Our mission at Porta Spot is simple: to provide high-quality services for our valued clients. Our team goes above and beyond to cater to each project’s specific needs. Through open communication and exceptional service, we hope you’ll find what you’re looking for with our Sanitation Service. For more information or general inquiries, get in touch today.</p>
<a class="btn1" href="/contact">Get A Quote</a>
</section>