
<section class="hero">
<div class="heroText">
    <h1 class="Laila" style="font-weight: bold; font-size: 50px; line-height: 110%;text-shadow: 2px 4px 3px rgba(0,0,0,0.3);">Spot On Sanitation
</h1>
    <p style="text-shadow: 2px 4px 3px rgba(0,0,0,0.3); padding-bottom: 15px;">
We'll elevate your event or project with superior sanitation, ensuring each client receives top-notch attention through seamless communication and service.
<br><br>
 ✓ Hygienic Convenience<br>
 ✓ Reliable Solutions<br>
 ✓ Hassle-Free Setup<br>


    </p>
    <a class="btn1 openSans" style="margin-right: 8px;">Contact Us</a>
    <a class="btn2 openSans" href="tel:+18016759584"> 801-675-9584</a>
</div>
<article style="display: flex; flex-wrap: wrap; width: 100%; justify-content: center; padding: 20px; padding-bottom: 40px;">
    <img style="display: none;width: 150px; height: auto; max-width: 60%;" src="/imgs/h_logo1.png" />
    <img style="display: none;width: 150px; height: auto; max-width: 60%;" src="/imgs/h_logo1.png" />
    <img style="display: none;width: 150px; height: auto; max-width: 60%;" src="/imgs/h_logo1.png" />
    <img style="display: none;width: 150px; height: auto; max-width: 60%;" src="/imgs/h_logo1.png" />
</article>
</section>
<h2 style="margin: auto; text-align: center; padding-top: 60px; padding-bottom: 20px; color: blue; max-width: 90%; margin: auto;">PortaSpot Services</h2>
<div class="servContain" style="max-width: 95%; margin: auto;">
  <article><a href="/services#contruction_porta_potty" style="text-decoration: none;">
  <img src="https://cdn.revmatics.ai/d97332c0cc813d7de1f66183c417d458.png"/>
    <p>
      Portable Toilets
    </p>
    </a>
  </article>
    <article>
        <a href="/services#hand_wash" style="text-decoration: none;">
  <img src="https://cdn.revmatics.ai/a0d36aee7b0350e9c99d25f70e93d5a3.png"/>
    <p>
      Hand Washing Stations
    </p>
    </a>
  </article>
    <article>
        <a href="/services#dumpster_rental" style="text-decoration: none;">
  <img src="https://cdn.revmatics.ai/df40806649171c77725c75e57195cff1.png"/>
    <p>
      Dumpsters
    </p>
    </a>
  </article>
    <article>
        <a href="/services#concrete_washout" style="text-decoration: none;">
  <img src="https://cdn.revmatics.ai/8447b8a8299e5fee99394e6ae80f72cd.png"/>
    <p>
      Concrete Washout
    </p>
    </a>
  </article>
    <article>
        <a href="/services#junk_removal" style="text-decoration: none;">
  <img src="https://cdn.revmatics.ai/17e3f2c7469e1e7ee40ce20f0e7dc545.png"/>
    <p>
      Junk Removal
    </p>
    </a>
  </article>
    <article>
        <a href="/services#temporary_fence" style="text-decoration: none;">
  <img src="https://cdn.revmatics.ai/46fa2c80466cdad7d09fff70dc017cf1.png"/>
    <p>
      Temporary Fencing
    </p>
    </a>
  </article>
</div>

<style>
  .servContain{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    max-width: 95%;
    width: 1100px;
  }
  .servContain article{
    border-radius: 12px;
    width: 300px;
    background: #ffff;
    margin: 15px;
    padding: 20px;
    padding-bottom: 40px;
    padding-top: 0px;
    transition: all .4s ease;
    scale: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .servContain article:hover{
        transition: all .4s ease;
    scale: 1.1;
    cursor: pointer
  }
  .servContain article img{
    width: 220px;
    border-radius: 12px;
  }
  .servContain article p {
    font-size: 32px;
    color: #054bfa;
    font-weight: bold;
    margin: 10px 0 10px 0;
    width: 100%;
    text-align: center;
  }
  .icon{
    width: 50px!important;
  }
</style>













<div class="cases_wrap">
<div class="case_overlay">

  <h2 style="max-width: 1280px;color: white; font-size: 28px; font-weight: bold; margin-bottom: 10px; width: 95%; margin: auto; padding-top: 60px;">
    Real Results from Real Customers
  </h2>
  <p style="max-width: 1280px;color: white; font-size: 20px; padding-bottom: 30px; width: 95%; margin: auto;;">
    Explore how MENO has helped people all over the world thrive.
  </p>
  <div class="case_card">
    <img style="display: none;" src="/img/port1.jpg">
    <h3 style="font-size: 28px; margin-bottom: 0px; margin-top: 20px;">
Parker Neeley
    </h3>
    <p style="font-size: 20px; padding-bottom: 20px;">
Excellent Service & Clean Units!
We recently used this porta potty company for an event, and they exceeded our expectations! The units were spotless, well-stocked, and delivered right on time. The customer service was outstanding—friendly, responsive, and professional. Everyone at our event commented on how clean and well-maintained the restrooms were. We will definitely be using them again for future needs. Highly recommend!
    </p>
    <a style="display: none;" class="btn1" href="https://revmatics.ai/casestudy/?aud=echo">
      Read More
      </a>
  </div>
    <div class="case_card">
    <img style="display: none;" src="/imgs/maria1.png">
    <h3 style="font-size: 28px; margin-bottom: 0px;margin-top: 20px;">
      Brianna Smith
    </h3>
    <p style="font-size: 20px; padding-bottom: 20px;">
We have used Porta Spot a few times now for parties at our house. Cannot recommend them enough! Stop looking, you have found the vendor you’re looking for! They make everything so easy from drop off to pick up. Squeaky clean toilets and GREAT pricing too. We’ll continue to use them whenever we need porta potties.    </p>
    <a style="display: none;" class="btn1" href="https://revmatics.ai/casestudy/?aud=jack">
    Read More
    </a>
  </div>
  </div>
  <div style="display: none;">
    <h5 class="Laila" style="text-align: center; color: white; font-size: 14px; font-weight: 700;">
      YOU'RE IN GOOD COMPANY
    </h5>
    <srticle style="display: flex; flex-wrap: wrap; justify-content: space-around; align-items: center; max-width: 750px; width: 90%; margin: auto; margin-top: 20px;">
    <img style="width: 150px;" src="/img/wal.png"/>
      <img style="width: 150px;" src="/img/wal.png"/>
      <img style="width: 150px;" src="/img/wal.png"/>
      <img style="width: 150px;" src="/img/wal.png"/>
    </srticle>
  </div>
</div>


<div style="display: flex; flex-wrap: wrap; justify-content: center; margin: auto; width: 100%; padding-top: 30px;">
       
    <div style="font-size:22px;color:black; width: 95%; max-width: 500px; margin: 10px;">
        <h2 class="main-section-title margin-bottom-sm title-header" style="padding-top:40px;font-size:40px;line-height:40px;color:black;">Serving Over 5,000 Events and Counting!</h2>
                
        <p class="p10" style="padding-left: 0px;color:black;">Get in Touch<br>
        <br>
        - 2967 American Way, Ogden, UT 84401 <br>
        - portaspotllc@gmail.com <br>
        - 801-675-9584
        </p>
                <br>
    </div>
    <div style="width: 95%; max-width: 500px; margin: 10px;">  
        <img style="max-width: 85%; border-radius: 8px;" src="https://cdn.revmatics.ai/10364ee04eb5053d72181f9b21484b5b.jpg" class="funnel-img funnel-img-rounded "> 
     </div>             
    </div>

